<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div *ngIf="questions.length > 0">
  <h2>Question {{currentIndex + 1 }} / {{ questions.length }}</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{ questions[currentIndex].question }} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
          <ion-radio-group [(ngModel)]="selectedAnswer">
            <ion-item *ngFor="let answer of questions[currentIndex]?.incorrect_answers.concat(questions[currentIndex]?.correct_answer); let i of index">
              <ion-label> {{answer}} </ion-label>
              <ion-radio slot="start" [value]="answer"></ion-radio>
              </ion-item>
          </ion-radio-group>

      <ion-button *ngIf="currentIndex < questions.length - 1" (click)="nextQuestion()" [disabled]="!selectedAnswer">
        Next Question
      </ion-button>

      <ion-button *ngIf="currentIndex === questions.length - 1" (click)="finishQuiz()" [disabled]="!selectedAnswer">
       Finish Quiz
      </ion-button>
    </ion-card-content>
  </ion-card>
</div> 
</ion-content>
