<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button> <!-- back button -->
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!-- card layout -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>About Trivia Time</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Trivia Time is a fun game that challenges you to test your knowledge with various questions.
        You can play as many times, view your scores and track your GPS location 
      </p>

      <h4>Features</h4>
      <ul> <!-- unordered list -->
        <li>Play 5-question trivia quizzes</li>
        <li>A mixure of easy, medium and hard questions</li>
        <li>Quiz timer for each question</li>
        <li>Scores saved automatically</li>
        <li>View quiz history with date & time</li>
        <li>Location saved using GPS</li>
      </ul>
      
      <p>Built using Ionic Standalone Framework</p>
    </ion-card-content>
  </ion-card>
</ion-content>
