<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trivia Time
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Enter Name:</ion-label>
    <ion-input [(ngModel)]="username" (ionBlur)="saveUser()" ></ion-input>
  </ion-item>
 
  <div *ngIf="username" class="welcome">
    Welcome to the Trivia Time App, {{username}}
  </div>

  <!-- buttons --> 
  <ion-button routerLink="/quiz">Start Quiz</ion-button>
  <ion-button routerLink="/result">View Scores</ion-button>
  <ion-button routerLink="/about">About</ion-button>

</ion-content>
